.App {
  margin-top: 150px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.App footer {
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

@media (max-width: 400px) {
  .App {
    margin-top: 180px;
  }

  .App footer {
    font-size: 13px;
  }
}
