.Weather {
  border: 1px solid #dadde1;
  border-radius: 15px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  color: #414148;
}

.form {
  margin-bottom: 10px;
}

.search-input {
  border: none;
  display: inline-block;
  font-size: 18px;
  height: 45px;
  width: 550px;
}

.btn {
  margin-left: 10px;
  border: none;
  font-size: 18px;
  height: 45px;
  width: 150px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

@media (max-width: 400px) {
  .Weather li {
    font-size: 15px;
  }

  .Weather .city {
    font-size: 23px;
  }

  .search-input {
    width: 160px;
  }

  .btn {
    width: 120px;
  }
}
