.Weather {
  border: 1px solid #dadde1;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.form {
  margin-bottom: 10px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.search-btn {
  color: red;
}
